/* Variabes */

body {
  background-color: lightgrey;
  font-size: 100px;
  text-align: center;
  margin-left: 20px;
  font-style: helvetica;
}

.magenta-text {
  color: magenta;
}

.orange-text {
  color: orange;
}

.gray-text {
  color: gray;
}